.van_section {
   padding-top: 29px;
}
.van_container {
   width: 959px;
   min-height: 909px;
   box-sizing: border-box;
   background: #FFFFFF;
   border: 1px solid #C4C4C4;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   margin: 0 auto;
}
.information_tooltip {
   margin: 0px 55px 5px 732px;
   background: #F3F3F3;
   border-radius: 5px;
   padding: 16px 13px 11px 16px;
}
.information_tooltip_text {
   font-weight: 400;
   font-size: 16px;
   color:  #292929;
}
   
   /*--------------------------------------------------------------------------------------*/
.select_train_one {
   display: flex;
   justify-content: flex-start;
   padding-top: 40px;
   padding-right: 24px;
}
.select_type_adult_up {
   margin-top: 20px;
   background: #F7F6F6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   padding: 20px 41px 122px 36px;
}
.select_type_text_up {
   margin-top: 23px;
   font-size: 16px;
   font-weight: 400;
   color: #928F94;
}
.place_kupe {
   color: #FFA800;
   margin-top: 20px;
   font-size: 24px;
   font-weight: 400;
   line-height: 116%;
   text-align: center;
}
.information_section_container {
width: 959px;
background: rgba(255, 168, 0, 0.44);
display: flex;
justify-content: space-between;

}
.information_section {
   padding: 4px 13px 3px 34px;
}
.information_section_text {
font-size: 16px;
font-weight: 400;
color: #292929;
line-height: 117%;
}
.information_section_quantity {
font-size: 24px;
font-weight: 400;
color:#FFFFFF;
line-height: 116%;
text-decoration: none;
}
.information_section_quantity_2 {
   font-size: 24px;
   font-weight: 400;
   line-height: 116%;
   color: #000000;
   text-decoration: none;
}
.information_section_van {
   display: flex;
   justify-content: space-between;
}
.information_section_van_num {
   background: #FFD98F;
   padding: 30px 52px 64px 37px;
   
}
.information_section_num {
   font-weight: 700;
   font-size: 72px;
   color: #292929;
}
.information_section_van_text {
   font-weight: 400;
   font-size: 24px;
   color: #292929;
}
.information_section_choice_seat {
   display: flex;
   padding-top: 21px;
}
.information_section_seat {
   font-weight: 400;
   font-size: 24px;
   line-height: 116%;
   color: #000000;
   margin-right: 6px;
}
.information_section_seat_quantity4 {
   font-weight: 400;
   font-size: 24px;
   line-height: 116%;
   color: #000000;
   font-weight: 700;
}
.information_section_blank{
   margin: 33px 59px 0px 85px;
}
.information_text_inside {
   font-weight: 400;
   font-size: 18px;
   font-weight: 116%;
   color: #928F94;
}
.information_section_quantity3 {
   font-weight: 400;
   font-size: 18px;
   font-weight: 116%;
   color: #000000;
   text-decoration: none;
}
.information_section_price {
   font-weight: 700;
   font-size: 24px;
   color: #000000;
   font-family: 'PT Sans', serif;
   display: block;
   padding-top: 21px;
}
.information_section_serv1 {
   font-weight: 400;
   font-size: 18px;
   color: #C4C4C4;
   text-decoration: none;
}
.information_section_img {
   margin: auto 20px 80px 20px;
}
.information_services_icon {
   padding-top: 17px;
}
/*.information_services_text {
   font-size: 16px;
   text-align: center;
   color: #292929;
}
.information_services {
   background: #E5E5E5;
   border-radius: 5px;
   padding: 5px 10px 8px 10px;
   
}*/

/*----------------------------------------------------------------------------------------------*/
.select_train {
   display: flex;
   justify-content: flex-end;
   padding-top: 40px;
   padding-right: 24px;
}
.arrow_back {
   margin: auto 10px auto 17px;
   border: none;
   }
.select_button {
   border: 2px solid #292929;
   border-radius: 5px;
   color: #292929;
   align-items: center;
   padding: 16px 34px 15px 33px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button4 {
font-weight: 700;
font-size: 24px;
}
.select_train_container {
display: flex;
background: #F7F6F6;
justify-content: space-between;
margin: 28px 0px 40px 0px;
padding: 17px 35px 26px 35px;
align-items: center;


}
.select_train_content {

}
.train__item {

}
.select_train_number {

}
.select_number {
font-size: 24px;
font-weight: 700;
color:#3E3C41
}
.select_menu_icon {
display: flex;
}
.select_city_transparent {
   font-size: 16px;
   color:#928F94
}
.select_icon_time {
   margin-right: 10px;
}
.select_city {
color: #000000;
font-size: 16px;
font-weight: 400;
}
.select_time {
   font-size: 24px;
   font-weight: 700;
   color:#3E3C41;
}
.seleсt_railway_station_transparent {
color: #928F94;
font-size: 16px;
}
.select_duration {
display: flex;

}
.duration_time {
   font-size: 18px;
   font-weight: 400;
   color: #000000;
}
.number_of_tickets {
   font-size: 30px;
   font-weight: 700px;
   color: #292929;
   margin: 0px 634px 13px 19px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.select_type_container {
display: flex;
justify-content: space-between;
padding: 0px 41px 0px 0px;
align-items: baseline;

}
.select_type_adult {
   background: #F7F6F6;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   padding: 20px 41px 55px 36px;
}
.select_button_type {
font-size: 18px;
font-weight: 400px;
}
.button5 {
   background: #FFFFFF;
   border: 1px solid #928F94;
   border-radius: 5px;
   padding: 15px 75px 15px 17px;
   font-size: 18px;
   font-weight: 400;
}
.select_type_text_container {

}
.select_type_text {
   font-size: 16px;
   font-weight: 400;
   margin-top: 23px;
}
.select_type_child {
padding: 20px 35px 88px 92px;
border: 1px solid rgba(255, 168, 0, 0.79);
align-items: center;
}
.select_button_child {

}
.button6 {
   background: #FFFFFF;
   border: 1px solid #928F94;
   border-radius: 5px;
   padding: 15px 5px 15px 16px;
   font-size: 18px;
   font-weight: 400;
}
.select_type_child_not {
   padding: 20px;
   
}
.select_button_child_not {

}
.line {
   border-top: 1px dashed #C4C4C4;
   margin-top: 48px;
}
.select_footer {
   padding-top: 28px;
   
   
}
.select_footer_container {
display: flex;
justify-content: space-between;
padding: 30px 138px 124px 70px;


}
.select_footer_group {
   
   
}
.place {
color:#292929;
margin-top: 20px;
font-size: 24px;
font-weight: 400;
line-height: 116%;
text-align: center;
}
.icon_footer {

}
